@model SysFacturacionLibreria.EntidadesDeNegocio.DetalleDeVenta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Detalle de Venta</h1>

<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetalleDeVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetalleDeVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
       
    </dl>

    @using (Html.BeginForm("Delete", "DetalledeVenta", new { id = Model.IdDetalleDeVenta }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás segura de que deseas eliminar Detalle de Venta?');">Eliminar</button>
    }

    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
   
